// _base.scss
// base structural, non-content related  styles for this theme

html,
body {
	height: 100%;
}

body {

	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	background-attachment: fixed;

	#page {

		position: relative;
		flex: 1 0 auto;

		.entry-header,
		.entry-content,
		.entry-summary {

			@include clearfix();

			min-width: 375px;

		}

	}

	#footer {
		position: relative;
		background-color: $color-dark-gray;
	}

	&:before {
		content: '';
		width: 100vw;
		height: 100vh;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		background-color: $color-gray;
		opacity: 0.95;
	}

	.terminal-text { 

		position: relative;
		display: inline-block;
		font-family: "Roboto Mono", Arial, Helvetica, sans-serif;

		&::after {
			content: "";
			position: absolute;
			display: inline-block;
			top: 5px;
			background-color: $color-white;
			vertical-align: top;
			-webkit-animation: blink 1s step-end infinite;
			animation: blink 1s step-end infinite;
		}

	}


	@media( max-width: $break-desktopMedium ) {
		
		article {
			width: 75%;
		}

	}

	@media( min-width: $break-desktopMedium ) {

		article {

			width: 50%;

		}

	}

}