// _general.scss
// h1-h6 styles, p tags, lists, etc

body {
	font-family: $font-global;
	font-size: 18px;
	line-height: 26px;
}

h1,
.h1 {
	font-family: $font-title;
}

h2,
.h2 {
	font-family: $font-title;
}

h3,
.h3 {
	font-family: $font-title;
}

h4,
.h4 {
	font-family: $font-title;
}

h5,
.h5 {
	font-family: $font-title;
}

h6,
.h6 {
	font-family: $font-title;
}
strong {
	font-weight: 700;
}
em {
	font-style: italic;
}
a {

	color: $link-color;
	text-decoration: none;

	&:focus,
	&:hover,
	&:active {
		color: $active-link-color;
		text-decoration: none;
	}
}
ol {
	li {
		
	}
}
ul {
	li {
		
	}
}

pre,
font {
	
}

p {

}

table {

	td, th {

	}
	th {

	}
}