// _general.scss
// h1-h6 styles, p tags, lists, etc

body {
	font-family: $font-global;
	font-size: 18px;
	line-height: 26px;
}

h1,
.h1 {
	@extend .mb-4;
	font-family: $font-title;
}

h2,
.h2 {
	@extend .mb-4;
	font-family: $font-title;
}

h3,
.h3 {
	@extend .mb-4;
	font-family: $font-title;
}

h4,
.h4 {
	@extend .mb-3;
	font-family: $font-title;
}

h5,
.h5 {
	@extend .mb-3;
	font-family: $font-title;
}

h6,
.h6 {
	@extend .mb-2;
	font-family: $font-title;
}
strong {
	font-weight: 700;
}
em {
	font-style: italic;
}
a {

	color: $link-color;
	text-decoration: none;

	transition: all 0.3s;

	&:focus,
	&:hover,
	&:active,
	&.active {
		color: $active-link-color;
		text-decoration: none;

		transition: all 0.3s;
	}

	&.active {
		font-weight: 700;
	}

}
ol {
	li {
		
	}
}
ul {
	li {
		
	}
}

pre,
font {
	
}

p {

}

table {

	td, th {

	}
	th {

	}
}

.entry-meta {

	font-size: 14px;
	font-style: italic;
	opacity: 0.8;

}

// opacity classes
.opacity-0 {
	opacity: 0 !important;
}

.opacity-50 {
	opacity: 0.5 !important;
}

.opacity-75 {
	opacity: 0.75 !important;
}

.opacity-100 {
	opacity: 1 !important;
}

// Image Links
.btn-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.btn-img:active {
  opacity:0.3;
  transition: opacity 0.1s;
}


.btn-img-gradient:hover::before, .btn-img-combo:hover::before {
  opacity: 0;
  transition: opacity 0.3s;
}

.btn-img-gradient::before, .btn-img-combo::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	z-index: 99;
	background-image: linear-gradient(
		to bottom right,
		rgba(255, 255, 255, 0.6),
		rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0.6)
	);
	opacity: 1;
	transition: opacity 0.3s;
}