body.blog,
body.archive {

	#page {

		article.post {

			border-color: rgba( 255, 255, 255, 0.4 ) !important;

			&:last-child {

				padding-bottom: 0 !important;
				border-bottom: none !important;

			}

		}

	}

}