// _navigation.scss
// navigation specific styles

#site-navigation {

	.header-text {

		.terminal-text {
			
			line-height: 57px;
			font-size: 48px;
			color: $color-white;

			&::after {

				right: -30px;
				width: 20px;
				height: 44px;

			}

		}
	}

	#top-navigation-menu {

		.menu-item {

			font-family: "Roboto Mono", Arial, sans-serif;
			font-size: 20px;
			line-height: 23px;

			&.current-menu-item .nav-link {
				color: $active-link-color;
			}

			.nav-link {

				color: $link-color;

				transition: all 0.3s;

				&:hover {
					color: $active-link-color;
					transition: all 0.3s;
				}

			}

		}

	}

	@media( max-width: $break-bootstrap-mobile-menu ) {

		#top-navigation-menu {

			background: $color-gray;
			margin-top: 20px;
			margin-bottom: 20px;

			.nav-link {

				text-align: center;
				padding: 20px 20px;

			}

		}

	}

	@media( min-width: $break-bootstrap-mobile-menu ) {

		#top-navigation-menu {
			padding-left: 50px;
		}
	}

}

.social-navigation {

	.nav-item {

		position: relative;
		padding: 0 10px;
		margin: 0 !important;

		&:before {
			font-size: 32px;
			line-height: 37px;

			opacity: 0.8;
			transition: all 0.3s;
		}

		&:hover:before {
			opacity: 1;
			transition: all 0.3s;
		}

		&:first-child {
			padding-left: 0 !important;
		}

		.nav-link {

			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;

			padding: 0 !important;

		}
	}

}